.row.margin-bottom-lg
  .col-md-12.calign
    %h2
      %i.fa.fa-cog.fa-spin.fa-2x
      Выберите способ безопасной авторизации      
      %i.fa.fa-cog.fa-spin.fa-2x

.row
  .col-md-4.col-md-offset-2.calign.offset_on_small
    %a#sign_in_facebook{href:'/auth/facebook'}
      %i.fa.fa-facebook-square.fa-5x.facebook-square.soc-square.transition
        %h3 Через Facebook ( ПОКА НЕ РАБОТАЕТ )
  .col-md-4.calign
    %a{href: '/auth/google_oauth2'}
      %i.fa.fa-google-plus-square.fa-5x.google-square.soc-square.transition
        %h3 Через Google
