= render 'extra/pusher'

.container.tweets
  .row
    .col-sm-10.left-side
      .row.new-tweet
        .col-sm-8.col-sm-offset-2
          .input-group.input-group-lg
            %input.form-control{id:'post_name', placeholder:'post your 100-char tweet..', type:'text', maxlength:100}
            %span.input-group-btn
              %button.btn.btn-default{id:'post_btn', type:'button'} Post
          %span.help-block
            Your post will be shown to others immediately!
      .row
        .col-sm-12
          Recent tweets:
        .col-sm-10{id:'recent_tweets'}
          =render @tweets

    .col-sm-2.right-side
      %p
        %b Your profile:
      %img{src:current_user.profile.picture_url}
      %br
      %br
      = current_user.name
      %hr
-#END
:javascript
  var channel = pusher.subscribe('tweet_channel');
  var cur_user_id = $("meta[name=cur-user-id]").attr("content")
  var dom_factory = new DOMFactory(cur_user_id);
  /*
  * NEW Tweet event registered
  * */
  channel.bind('new_tweet', function(data) {
    add_tweet(data.tweet_id, data.tweet_name, data.user_name, data.user_picture_url, data.user_id)
  });
  function add_tweet(tweet_id, tweet_name, user_name, user_picture_url, user_id) {
    var new_tweet = dom_factory.new_tweet(tweet_id, tweet_name, user_name, user_picture_url, user_id);
    $('#recent_tweets').prepend(new_tweet);
  }
  /*
  * NEW Comment event registered
  * */
  channel.bind('new_comment', function(data) {
    var tweet_id = data.tweet_id;
    var comment_id = data.comment_id
    var comment_name = data.comment_name;
    var user_picture_url = data.user_picture_url;
    var user_name = data.user_name;
    var user_id = data.user_id;
    var new_comment = dom_factory.new_comment(comment_id, tweet_id, comment_name, user_name, user_picture_url, user_id);
    $('.single-tweet[data-tweet-id="ID"] .tweet-comments'.replace('ID', tweet_id)).append(new_comment);

  });
  /*
  * DELETE Tweet event registered
  * */
  channel.bind('destroy_tweet', function(data) {
    var jTweet = $('.single-tweet[data-tweet-id="ID"]'.replace('ID', data.tweet_id));
    $(jTweet).html("<hr/>..tweet removed..<hr/>");
    $(jTweet).addClass('removed');
  });
  /*
  * DELETE Comment event registered
  * */
  channel.bind('destroy_comment', function(data) {
    var jComment = $('.comment[data-comment-id="ID"]'.replace('ID', data.comment_id));
    $(jComment).html("<hr/>..comment removed..<hr/>");
    $(jComment).addClass('removed');
  });


