<div class="row-fluid">
  <div class="span10 offset1">
    <div class="row-fluid">
      <div class="author">
        <p>Vitaly&nbsp;Pestov</p>
        <p class="footer-logo"><%= image_tag("bro.jpg") %></p>
        <div class="credentials">
          <!--
          <i class="fa fa-pencil-square-o">&nbsp;&nbsp;ariekdev@gmail.com</i><br/>
          <i class="fa fa-skype">&nbsp;&nbsp;ariekdev&nbsp;&nbsp;</i><br/>
          -->
          <br/>
        </div>
      </div>
      <div class="span8 footer-menu">
        <!--<span class="ib"><a class="link" href="https://github.com/vitalyp/twitter_app">Код проекта</a></span>-->
        <!--<span class="ib devider">|</span>-->
        <!--<span class="ib"><a class="link" href="https://www.linkedin.com/in/vitalypestov">My Linkedin profile</a></span>-->
      </div>
      <!--<br/>
      My Private Room-->
      <br/>
    </div>
  </div>
</div>