<div class="row">
  <div class="col-md-10 col-md-offset-2 margin-bottom-lg">
    <!--<h4><a href="#site-header"></a>-->
      <!--Twitter is a social networking microblogging service that allows registered members to broadcast short posts called tweets.-->
    <!--</h4>-->
    <blockquote>
      <p>new site from oy_bro</p>
    </blockquote>
    <h3><a href="#functional-requirements" name="functional-requirements"></a>Чудо-форум. Магия. Under development ;)))</h3>
    <%= image_tag("vetik.jpg") %>
  </div>
</div>