<div class="row">
  <div class="col-md-10 col-md-offset-2 margin-bottom-lg">
    <!--<h4><a href="#site-header"></a>-->
      <!--Twitter is a social networking microblogging service that allows registered members to broadcast short posts called tweets.-->
    <!--</h4>-->
    <blockquote>
      <p>2016</p>
    </blockquote>
    <h3><a href="#functional-requirements" name="functional-requirements"></a>Wellcome!</h3>
    <div style='text-align: center'>
      <%= image_tag "ariekdev_2.png", style: "width: 180px" %>
    </div>
  </div>
</div>