<div class="row margin-bottom-lg">
  <div class="col-md-12 calign">
    <!--<h4><a href="#site-header"></a>-->
      <!--Twitter is a social networking microblogging service that allows registered members to broadcast short posts called tweets.-->
    <!--</h4>-->
    <!--<blockquote>-->
    <!--  <p>2016</p>-->
    <!--</blockquote>-->
    <!--<h3><a href="#functional-requirements" name="functional-requirements"></a>Wellcome!</h3>-->
    
    <%= image_tag "ariekdev_2.png", style: "width: 180px" %>
    <br/>
    <code>
      Hi, my name is Vitaly Pestov, and I am a FREE Ruby on Rails developer.
    </code>
    <hr/>
    <code style='text-align:center'>
      -Fullstack Strong Middle-
    </code>
  </div>
</div>