<div class="row margin-bottom-lg">
  <div class="col-md-12 calign">
    <!--<h4><a href="#site-header"></a>-->
      <!--Twitter is a social networking microblogging service that allows registered members to broadcast short posts called tweets.-->
    <!--</h4>-->
    <!--<blockquote>-->
    <!--  <p>2016</p>-->
    <!--</blockquote>-->
    <!--<h3><a href="#functional-requirements" name="functional-requirements"></a>Wellcome!</h3>-->
    
    <%= image_tag "railsDeveloper.png", style: "width: 180px" %>
    <br/><br/>
    <code style="padding: 2px 4px;font-size: 90%;color: #291a1e;background-color: #cdd5e2;border-radius: 4px;">
       <i>"MUSIC can experienced by being ALONE inside attending a unreachabled DIMENSIONS.."" </i>
    </code>
    <br/>
    <i style='text-align:center; color: rgb(51, 51, 51);'>
      _Beat_<i>&</i>_Bass_
    </i>
    <hr/>
  </div>
</div>