<div class="row">
  <div class="col-md-10 col-md-offset-2 margin-bottom-lg">
    <!--<h4><a href="#site-header"></a>-->
      <!--Twitter is a social networking microblogging service that allows registered members to broadcast short posts called tweets.-->
    <!--</h4>-->
    <blockquote>
      <p>Create a small example of information network made up of 300-character messages called Tweets.</p>
    </blockquote>
    <h3><a href="#functional-requirements" name="functional-requirements"></a>Functional requirements</h3>
    <ul>
      <li>After sign up/in user must land on page with list of new Tweets and list of other followers tweets</li>
      <li>User wants to be able to create/update/delete his own Tweets</li>
      <li>User wants to be able to "Follow" other users</li>
      <li>User wants to be able to add comments to Tweets of other users</li>
      <li>User wants to be able to add "Likes" to Tweets of other users</li>
      <li>User wants to be able to add Tweets of other users to his "favorites"</li>
      <li>User also wants to be able to add users to his "favorites"</li>
      <li>Favorite tweets and favorite users must be shown in one "favorites" list</li>
      <li>User wants to be able to add his avatar image and manage his profile</li>
    </ul>
    <h3><a href="#technical-requirements" name="technical-requirements"></a>Technical requirements</h3>
    <ul>
      <li>It should be WEB application</li>
      <li>For the client side must be used: HTML, CSS (any libs as Twitter Bootstrap, Foundation ...), JavaScript (any libs as jQuery, Backbone ...)</li>
      <li>Client side must be adapted for mobile devices</li>
      <li>For server side - Ruby language, RoR framework, any DB you like</li>
      <li>It should have client side and server side validation.</li>
      <li>It should have social login(any social network as Facebook or google etc...)</li>
      <li>Project must be deployed on <a href="http://heroku.com">http://heroku.com</a></li>
    </ul>
    <h3><a href="#additional-functionality" name="additional-functionality"></a>Additional functionality</h3>
    <ul>
      <li>It should work like one page WEB application and should use AJAX technology, load and submit data without reloading a page</li>
      <li>It should have user authentication solution</li>
      <li>It should have automated tests for all functionality</li>
    </ul>
    <h3><a href="#sql-task" name="sql-task"></a>SQL task</h3>
    <p>Given tables:</p>
<pre><code>tweets (id, name, status, user_id)
  users (id, name)
</code></pre>
    <p>Write the queries for:</p>
    <ul>
      <li>get all statuses, not repeating, alphabetically ordered.</li>
      <li>get the count of all tweets for each user, order by tweets count descending.</li>
      <li>get the count of all tweets for each user, order by users names.</li>
      <li>get the tweets for all users having the name beginning with "N" letter.</li>
      <li>get the list of all users containing the 'a' letter in the middle of the name, and show the tweets count .near each project. Mention that there can exist users without tweets and tweets with 'user_id=NULL'</li>
      <li>get the list of tweets with duplicate names. Order alphabetically.</li>
      <li>get the list of tweets having several exact matches of both name and status, from the user 'Phil'. Order by matches count.</li>
      <li>get the list of users names having more than 10 tweets in status 'starred'. Order by user_id.</li>
    </ul>
  </div>
</div>