.tweet-comments .new-comment {
  display:none;
}

.tweet-comments .comment {
  padding: 10px;
  font-size: 12px;
}

.tweet-comments .comment-author img {
  width: 36px;
}

.tweet-comments .comment-icons span{
  cursor: pointer;
}

.tweet-comments .comment-icons .star i:hover{
  color: #7bc4ff;
}

.tweet-comments .comment-icons .like i:hover{
  color: #ff15dd;
}

.tweet-comments .comment-icons .trash i:hover{
  color: #f33319;
}

.tweet-comments .comment-icons .like.liked i{
  color: red;
}

.tweet-comments .comment-icons .star.starred i{
  color: #4557ff;
}