.single-tweet {
  padding: 0px 3px;
  border: 1px solid gray;
  border-radius: 12px;
  margin: 10px 0;
}
.single-tweet.removed {
  text-align: center;
  color: rgba(51, 51, 51, 0.63);
  font-size: 14px;
}

.single-tweet hr {
  margin-top: 6px;
  margin-bottom: 6px;
}

.single-tweet .tweet-author{
  padding: 9px 0 0 5px;
  text-align: center;
}

.single-tweet .tweet-icons {
  text-align: right;
  padding-top: 6px;
}

.single-tweet .tweet-icons i {
  cursor: pointer;
}

.single-tweet .tweet-icons .js {
  padding-right: 4px;
}

.single-tweet .tweet-icons .comment i:hover{
  color: #32b73c;
}

.single-tweet .tweet-icons .star i:hover{
  color: #7bc4ff;
}

.single-tweet .tweet-icons .like i:hover{
  color: #ff15dd;
}

.single-tweet .tweet-icons .trash i:hover{
  color: #f33319;
}

.single-tweet .tweet-author img{
  height: 50px;
  opacity: 0.8;
  border-radius: 7px;
  border: 1px solid black;
}

.single-tweet .tweet-author .name{
  font-size: 12px;
}

.single-tweet .tweet-name{
  padding: 10px;
  font-size: 17px;
}

.single-tweet .timeago{
  float: right;
  margin-top: 18px;
  font-size: 12px;
  color: gray;
}

.single-tweet .tweet-comments{
  padding: 10px;
  font-size: 12px;
}

.single-tweet .new-comment {
  display:none;
}

.single-tweet .comment {
  padding: 10px;
  font-size: 12px;
}